
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Chandan Hospital </title>
    @Html.Partial("_header")
    <script src="~/JsModule/config.js"></script>
    <script src="~/JsModule/FileSaver.min.js"></script>
    <script src="~/JsModule/global.js"></script>
    <script src="~/JsModule/Authentication.js"></script>
    <script src="~/JsModule/moment.js"></script>
    <script>
		//$(document).ready(function () {
		//	$('ul[id=sidebar-menu]').on('click', 'li', function () {
		//		$(this).removeClass('sfHover');
		//		$(this).closest('div.sidebar-submenu').removeAttr('style');
		//	});
		//});
    </script>
    <style>       
        #ajaxLoading {
            z-index: 1;
            position: absolute;
            top: 45%;
            left: 45%;
            color: #fff;
            background: #34353ce8;
            padding: 2px 17px;
            border-radius: 40px;
        }
        .modal-backdrop {
            position: inherit;
        }
    </style>
</head>
<body class="fixed-header">
    <div id="sb-site">
        @Html.Partial("_sidebar2")
        <div id="page-wrapper">
            @Html.Partial("_topbar")
            @Html.Partial("_sidebar")
            <div id="page-content-wrapper">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_footer")
        <script>

        </script>
    </div>
    <div id="ajaxLoading">
        <img src="https://www.sanfranciscoflorist.com/images/station-loading.gif" style="width: 40px;" /> Loading...Please Wait.
    </div>
</body>
</html>
